###> IDE/config ###
/.idea
/.vscode
###> IDE/config ###

###> symfony/framework-bundle ###
/.env
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/.vale-styles
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###> NodeJS/node-modules ###
/node_modules
###> NodeJS/node-modules ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> phpstan/phpstan ###
/phpstan.neon
###< phpstan/phpstan ###

###> squizlabs/php_codesniffer ###
/phpcs.xml
###< squizlabs/php_codesniffer ###

###> qossmic/deptrac ###
/.deptrac.cache
###< qossmic/deptrac ###
